{{ define "main" }}
{{- partial "header.html" . -}}

<ul id="episode-list">
  {{ range ((where .Site.RegularPages "Section" "episodes").ByParam "episode").Reverse }}
  <li class="episode">
    <a href="{{ .Permalink }}" class="episode-link">
      <h4>{{ .Params.episode }}</h4>
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.description | truncate 180 }}</p>

      <!-- <div class="host-container">
        <p>con {{ $page := . }}{{ range $index, $host := .Params.hosts }}{{ if gt $index 0 }}{{ if eq $index (sub (len $page.Params.hosts) 1) }} & {{ else }}, {{ end }}{{ end }}{{ if index $page.Params.host_links $index }}<a class="host" href="{{ index $page.Params.host_links $index }}">{{ $host }}</a>{{ else }}<span class="host">{{ $host }}</span>{{ end }}{{ end }}</p>
      </div> -->

      <div class="platform-links">
        {{ if .Params.youtube_url }}
        <a href="{{ .Params.youtube_url }}">
          <img src="/pl-youtube.png" srcset="/pl-youtube.png 1x, /pl-youtube@2x.png 2x" alt="">
        </a>
        {{ end }}
        {{ if .Params.spotify_url }}
        <a href="{{ .Params.spotify_url }}">
          <img src="/pl-spotify.png" srcset="/pl-spotify.png 1x, /pl-spotify@2x.png 2x" alt="">
        </a>
        {{ end }}
      </div>
    </a>
  </li>
  {{ end }}
</ul>

{{- partial "footer.html" . -}}

{{ end }}


